<robot name="tool" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find tool_description)/urdf/tool.xacro"/>

  <xacro:arg name="tool_name" default="needle_driver"/>
  <xacro:arg name="parent" default="world"/>

  <xacro:tool tool_name="$(arg tool_name)" parent="$(arg parent)" />

</robot>
